---
import Hint from "@/components/Hint.astro";
import LayoutHTML from "@layouts/LayoutHTML.astro";
---

<LayoutHTML title="HTML">
  <h1>HTML</h1>
  <p>
    HTML es el acrónimo de lenguaje de marcado de hipertexto. Es un lenguaje de marcado utilizado para estructurar y formatear el contenido de una página web. HTML utiliza etiquetas para definir elementos como encabezados, párrafos, listas y enlaces. Estas etiquetas le indican al navegador cómo mostrar el contenido en la pantalla.
  <p>
  <p>
    Aquí encontrarás cosas nuevas, varios trucos y diferentes formas de hacer las cosas. Por ejemplo:
  </p>
  <ul>
    <li>Email</li>
    <li>Trucos para móvil</li>
    <li>Autocompletado</li>
  </ul>
  <Hint>
    <p>
      Utiliza <a href="https://codi.link/%7C%7C" target="_blank" rel="noopener noreferrer">codi.link</a> para probar todos estos componentes de forma rápida y sencilla. codi.link es un editor de código en línea fácil de usar con todos los beneficios de visual studio code.
    </p>
  </Hint>
  <p>
    Si quieres ver todas las etiquetas que hay, las nuevas que vienen y todo lo relacionado con HTML, puedes ir a la <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener noreferrer">web oficial de MDN</a>
  </p>
  <p>
    También puedes ver todas las etiquetas de una manera más amigable en la página de <a href="https://htmlreference.io/" target="_blank" rel="noopener noreferrer">HTML Reference</a>
  </p>
  <p>
    Si quieres saber qué etiquetas nuevas ya se pueden usar o si no están tan estandarizadas, puedes ir a la página de <a href="https://caniuse.com/" target="_blank" rel="noopener noreferrer">Can I Use</a>
  </p>
  
</LayoutHTML>