---
import LayoutComponent from "@/layouts/LayoutComponent.astro";
---

<LayoutComponent title="Componentes">
  <h1>Componentes</h1>

  <p>
    Los componentes son bloques modulares y reutilizables de código que
    encapsulan tanto la lógica como la presentación, permitiendo a los
    desarrolladores construir interfaces de usuario más eficientes.
  </p>
  <p>
    Aquí encontrarás ideas de componentes para que te sea más fácil crear tu
    próximo diseño sin tener que reinventar la rueda, encontraras cosas como:
  </p>
  <ul>
    <li>Acordeon</li>
    <li>Efecto 3d</li>
    <li>Efecto Scroll horizontal</li>
    <li>Tarjeta con dos lados</li>
  </ul>
  <p>
    Si quieres encontrar componentes como cards, checkbox, input, loaders,
    listos para utilizar, puedes visitar la web de <a
      href="https://uiverse.io/"
      target="_blank"
      rel="noopener noreferrer">uiverse.io</a
    >
  </p>
  <p>
    Otra web recomendada es <a
      href="https://codepen.io/"
      target="_blank"
      rel="noopener noreferrer">codepen.io</a
    >, aquí no solo encontrarás componentes ya hechos, sino también ideas para
    hacer nuevos, sin olvidar que también te permite crear tus propios
    componentes gracias a su playground
  </p>
</LayoutComponent>
