@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;900&display=swap");

/*
  320px — 480px: Mobile devices
  481px — 770px: iPads, Tablets
  771px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens 
  @media (width <= 320px)  
*/

:root {
  --container: clamp(300px, 100%, 1300px);
  --bg-color: 15 15 15;
  --second-color: 96 218 250;
  --title-color: 255 255 255;
  --text-color: 214 214 214;
  --text--2: clamp(0.6944rem, 0.5978rem + 0.483vw, 0.96rem);
  --text--1: clamp(0.8331rem, 0.6997rem + 0.667vw, 1.2rem);
  --text-0: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
  --text-1: clamp(1.2rem, 0.9545rem + 1.2273vw, 1.875rem);
  --text-2: clamp(1.44rem, 1.1114rem + 1.6432vw, 2.3438rem);
  --text-3: clamp(1.7281rem, 1.2911rem + 2.1852vw, 2.93rem);
  --text-4: clamp(2.0738rem, 1.4963rem + 2.8875vw, 3.6619rem);
  --text-5: clamp(2.4881rem, 1.7284rem + 3.7989vw, 4.5775rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--bg-color));
  font-family: "Inter", sans-serif;
}

pre {
  max-width: clamp(300px, 100%, 1000px);
  padding: 5px 10px;
  margin: 0;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  background-color: #181818 !important;
}

pre::-webkit-scrollbar {
  height: 3px;
  background-color: transparent;
}

pre::-webkit-scrollbar-thumb {
  background-color: rgb(var(--second-color));
  border-radius: 3px;
}
.animated {
  animation-timeline: view();
  animation-fill-mode: both;
}
