---
import MyCode from "@components/MyCode.astro";
import LayoutCSS from "@layouts/LayoutCSS.astro"
---

<LayoutCSS title="Navbar transparente">
  <h1>Navbar transparente</h1>

  <MyCode code={`
#Navbar {
  background: transparent;
  backdrop-filter: blur(10px);
}          
  `} lang="css"/>

</LayoutCSS>