---
import LayoutGit from "@layouts/LayoutGit.astro"
---

<LayoutGit title="GIT">
  <h1>GIT</h1>
  <p>
    Git es un sistema de control de versiones distribuido. Se utiliza para realizar un seguimiento de los cambios en el código fuente de un proyecto y para colaborar con otros desarrolladores. Con Git, los desarrolladores pueden crear ramas para trabajar en diferentes funciones o corregir errores y luego fusionar esos cambios en la rama principal del proyecto. Git también permite a los desarrolladores revertir los cambios si es necesario.
  </p>
  <p>Aquí encontrarás cosas nuevas, varios trucos y diferentes formas de hacer las cosas. Por ejemplo:</p>
  <ul>
    <li>Comando iniciales</li>
    <li>Manejo de ramas</li>
    <li>Fusionar ramas</li>
    <li>Pull request</li>
  </ul>
  <p>
    Si quieres ver todos los comandos u opciones posibles de Git puedes ir a la <a href="https://git-scm.com/docs" target="_blank" rel="noopener noreferrer">web oficial de Git</a>
  </p>
  <p>En tu terminal/consola puedes poner el comando <b>git help</b>, seguido del comando sobre el que deseas información, por ejemplo:</p>
  <ul>
    <li>git help branch</li>
    <li>git help config</li>
    <li>git help merge</li>
    <li>git help pull</li>
  </ul>
</LayoutGit>