---
import Hint from "@/components/Hint.astro";
import Warning from "@/components/Warning.astro";
import LayoutCSS from "@layouts/LayoutCSS.astro";
---

<LayoutCSS title="CSS">
  <h1>CSS</h1>

  <p>
    CSS es el acrónimo de <b>hojas de estilo en cascada</b>. Es un lenguaje de
    diseño que se utiliza para definir y crear la presentación de un documento
    estructurado escrito en HTML. CSS le permite separar el contenido de un
    documento de su presentación visual, lo que facilita el mantenimiento y la
    reutilización del código.
  </p>
  <p>
    Aquí encontrarás cosas nuevas, varios trucos y diferentes formas de hacer
    las cosas. Por ejemplo:
  </p>
  <ul>
    <li>ideas para componentes</li>
    <li>Fondos multiples</li>
    <li>Degradados de colores</li>
    <li>Efectos a texto</li>
  </ul>
  <Hint>
    <p>
      Utiliza <a
        href="https://codi.link/%7C%7C"
        target="_blank"
        rel="noopener noreferrer">codi.link</a
      > para probar todas estas ideas de forma rápida y sencilla. codi.link es un
      editor de código en línea fácil de usar con todos los beneficios de visual
      studio code.
    </p>
  </Hint>
  <p>
    Si quieres ver en profundidad cómo funciona cada propiedad css o cuáles son
    las nuevas propiedades o funciones que se van a implementar en el futuro
    puedes ir a la <a
      href="https://developer.mozilla.org/en-US/docs/Web/CSS"
      target="_blank"
      rel="noopener noreferrer">web oficial de MDN</a
    >
  </p>
  <p>
    También puedes ver de una forma más amigable las propiedades de css en la
    página de <a
      href="https://cssreference.io/"
      target="_blank"
      rel="noopener noreferrer">CSS Reference</a
    >
  </p>
  <p>
    Si quieres saber qué nuevas propiedades ya se pueden utilizar o si no están
    tan estandarizadas, puedes ir a la página de <a
      href="https://caniuse.com/"
      target="_blank"
      rel="noopener noreferrer">Can I Use</a
    >
  </p>
</LayoutCSS>
