---
import LayoutJS from "@layouts/LayoutJS.astro";
import MyCode from "@components/MyCode.astro";
---

<LayoutJS title="Encontrar minimo y maximo">
  <h1>Encontrar minimo y maximo</h1>
  <p>obtener el número máximo y mínimo de un array rápidamente</p>

  <MyCode code={`
const number = [5, 7, 9, 3, 1, 5, 4, 8, 0, 23, 46, 98, -5, -20];

const resultMax = Math.max(...number);
const resultMin = Math.min(...number);

console.log(resultMax); // 98
console.log(resultMin); // -20        
  `} lang="js"/>
  
</LayoutJS>