---
import Footer from "@components/Footer.astro";
import HomeTypewritter from "@components/HomeTypewritter.astro";
import ResourcesSection from "@components/ResourcesSection.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import HTML from "@/icons/HTML.astro";
import CSS from "@/icons/CSS.astro";
import Javascript from "@/icons/Javascript.astro";
import Git from "@/icons/Git.astro";
---

<RootLayout
  title="Tricks Web | Recursos, Trucos y consejos sobre desarrollo web"
  description="Aquí encontrarás una variedad de trucos. Aprenderás nuevas cosas. Descubrirás cosas que no sabías sobre desarrollo web con HTML,CSS, JAVASCRIPT, y GIT"
>
  <main>
    <section class="container">
      <div class="title">
        <h1>
          Trucos. consejos. Recursos. Ideas para componentes, y cosas que no
          Sabías sobre desarrrollo web
        </h1>
        <HomeTypewritter />
      </div>

      <p>
        Aquí encontrarás una variedad de trucos. Aprenderás nuevas cosas.
        Descubrirás cosas que no sabías, todo esto por <span class="heart"
          >❤</span
        > al desarrollo web
      </p>
      <div class="container-lang">
        <a href="/html/" title="ir a la seccion de html">
          <HTML />
        </a>
        <a href="/css/" title="ir a la seccion de css">
          <CSS />
        </a>
        <a href="/javascript/" title="ir a la seccion de javascript">
          <Javascript />
        </a>
        <a href="/git/" title="ir a la seccion de git">
          <Git />
        </a>
      </div>
      <a
        href="#tools"
        class="btn-down"
        title="ir a la seccion de recursos frontend"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-chevron-down"
          width="45"
          height="45"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 9l6 6l6 -6"></path>
        </svg>
      </a>
    </section>
  </main>
  <ResourcesSection />
  <Footer />
</RootLayout>

<style>
  main {
    max-width: var(--container);
    min-height: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }
  .container {
    width: var(--container);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: rgb(var(--bg-color));
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  .title h1 {
    font-size: var(--text-3);
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: balance;
    color: transparent;
    background: linear-gradient(
        340deg,
        rgb(var(--title-color)) 45%,
        rgb(var(--bg-color)) 55%,
        rgb(var(--second-color))
      )
      70%;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    mix-blend-mode: difference;
  }

  @keyframes gradient {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }

  .container p {
    color: rgb(var(--text-color));
    font-size: var(--text-0);
    text-wrap: balance;
  }
  .heart {
    color: red;
  }
  .container-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .container-lang:hover > :not(:hover) {
    filter: grayscale(100%);
  }
  .btn-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-decoration: none;
    color: white;
    animation: bouncing 2s alternate infinite;
  }
  @keyframes bouncing {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
    }
  }

  @media (width <= 480px) {
    .container {
      gap: 30px;
    }
  }
</style>
