---
import LayoutGit from "@layouts/LayoutGit.astro"
---

<LayoutGit title="Configurando por primera vez">
  <h1>Configurando por primera vez</h1>
  <p>Con estos comandos podrás configurar tu git de una forma rápida y sencilla:</p>
  <ul>
    <li>git config --global user.name "tu nombre"</li>
    
    <li> git config --global user.mail tuEmail@gmail.com</li>
    
    <li>git config --global core.editor "code --wait"</li>
    
    <li>git config --global core.autocrlf true </li>
  </ul>
</LayoutGit>