---
import LayoutGit from "@layouts/LayoutGit.astro";
---

<LayoutGit title="Flujo basico git">
  <h1>Flujo Basico git</h1>
  <p>pasos a seguir:</p>
  <ul>
    <li><p>realiza cualquier cambio en tu proyecto</p></li>

    <li>
      <p>
        para ver el estado de los archivos usamos el comando <b class="code"
          >git status
        </b>
      </p>
    </li>

    <li>
      <p>
        usamos el comando <b class="code">git add .</b> para "guardar" el cambio
        que has realizado
      </p>
    </li>

    <li>
      <p>
        usamos el comando <b class="code">git commit -m "first commit"</b> para que
        los cambios que has realizado Los cambios realizados son los cambios que
        has realizado en el historial del repositorio.
      </p>
    </li>

    <li>
      <p>
        Usamos el comando <b class="code">git push</b> para cargar todos los cambios
        que hicimos en el repositorio remoto en github
      </p>
    </li>

    <li>
      <p>
        <b>si desea</b> descargar los últimos cambios o la última versión del proyecto
        usamos el comando <b class="code">git pull</b>
      </p>
    </li>
  </ul>
</LayoutGit>
