---
import LayoutGit from "@layouts/LayoutGit.astro"
---

<LayoutGit title="Flujo basico git">
  <h1>Flujo Basico git</h1>
  <p>pasos a seguir:</p>
  <ul>
    <li>realiza cualquier cambio en tu proyecto</li>
    
    <li>para ver el estado de los archivos usamos el comando <b>git status </b></li>
    
    <li>usamos el comando <b>git add .</b> para "guardar" el cambio que has realizado</li>
    
    <li>usamos el comando <b>git commit -m "first commit"</b> para que los cambios que has realizado Los cambios realizados son los cambios que has realizado en el historial del repositorio.</li>
    
    <li>Usamos el comando <b>git push</b> para cargar todos los cambios que hicimos en el repositorio remoto en github</li>
    
    <li><b>si desea</b> descargar los últimos cambios o la última versión del proyecto usamos el comando <b>git pull</b></li>


  </ul>
</LayoutGit>