---
import LayoutGit from "@layouts/LayoutGit.astro";
---

<LayoutGit title="Fusionar ramas">
  <h1>Fusionar ramas</h1>
  <p>pasos a seguir:</p>

  <ul>
    <li>
      <p>
        nos ubicamos en la rama donde queremos que sea la fusión, generalmente
        será la main <b class="code">git checkout main</b>
      </p>
    </li>

    <li>
      <p>
        usamos el comando <b class="code">git merge rama_secundaria</b>
      </p>
    </li>

    <li>
      <p>
        para actualizar nuestro repositorio con la última carga y no generar
        conflictos usamos el siguiente comando <b class="code"
          >git push -u origin main</b
        >
      </p>
    </li>

    <li>
      <p>
        <b>(opcional)</b>: si estás seguro de que ya no necesitarás las ramas,
        puedes eliminarlas con el comando <b class="code"
          >git push origin --delete Branch_Seconary</b
        >
      </p>
    </li>
  </ul>
</LayoutGit>
