---
import LayoutGit from "@layouts/LayoutGit.astro";
---

<LayoutGit title="Guardar cambios temporalmente">
  <h1>Guardar cambios temporalmente</h1>
  <p>Este comando debe usarse antes de hacer commit.</p>
  <ul>
    <li>
      <p>
        <b>git stash</b>: te permite guardar temporalmente los cambios que han
        realizado en tu código
      </p>
    </li>

    <li>
      <p>
        <b>git stash pop</b>: para recuperar los cambios que guardaste solo
        tienes que usar este comando
      </p>
    </li>
  </ul>
</LayoutGit>
