---
import LayoutGit from "@layouts/LayoutGit.astro";
---

<LayoutGit title="Iniciar repositorio">
  <h1>Iniciar repositorio</h1>
  <p>pasos a seguir:</p>

  <ul>
    <li>
      <p>Abre una consola en tu computador</p>
    </li>

    <li>
      <p>
        Crear una carpeta usando el siguiente comando <b class="code"
          >mkdir name_file</b
        >
      </p>
    </li>

    <li>
      <p>
        Mover a la carpeta con el comando <b class="code"> cd name_file</b>
      </p>
    </li>

    <li>
      <p>
        Crea el archivo README con el comando <b class="code">touch README.md</b
        >
      </p>
    </li>

    <li>
      <p>
        Crea el gitignore con el comando <b class="code">touch .gitignore</b>
      </p>
    </li>

    <li>
      Inicializamos el proyecto con git con el comando <b class="code"
        >git init</b
      >
    </li>

    <li>
      <p>
        Ingresamos a nuestro editor de código con el comando <b class="code"
          >code .</b
        >
      </p>
    </li>
  </ul>
</LayoutGit>
