---
import LayoutGit from "@layouts/LayoutGit.astro"
---

<LayoutGit title="Iniciar repositorio">
  <h1>Iniciar repositorio</h1>
  <p>pasos a seguir:</p>

  <ul>
    <li>abre una consola en tu computador</li>

    <li>crear una carpeta usando el siguiente comando <b>mkdir name_file</b></li>
    
    <li>mover a la carpeta con el comando <b> cd name_file</b></li>
    
    <li>crea el archivo Léame con el comando <b>touch README.md</b></li>
    
    <li>crea el gitignore con el comando <b>touch .gitignore</b></li>
    
    <li>inicializamos el proyecto con git con este comando <b>git init</b></li>
    
    <li>ingresamos a nuestro editor de código con el comando <b>code .</ b></li>      
  </ul>
</LayoutGit>