---
import LayoutGit from "@layouts/LayoutGit.astro";
---

<LayoutGit title="Manejo de ramas">
  <h1>Manejo de ramas</h1>
  <ul>
    <li>
      <p>
        <b>git branch nombre_de_rama</b>: Crear nueva rama
      </p>
    </li>

    <li>
      <p>
        <b>git branch</b>: nos muestra todas las ramas del repositorio
      </p>
    </li>

    <li>
      <p>
        <b>git branch --no-merged</b>: enumera las ramas no fusionadas con la
        rama actual
      </p>
    </li>

    <li>
      <p>
        <b>git branch --merged</b>: enumera las ramas fusionadas con la rama
        actual
      </p>
    </li>

    <li>
      <p>
        <b>git checkout -b nombre_de_rama</b>: se usa para crear una nueva rama
        y te cambia directamente
      </p>
    </li>

    <li>
      <p>
        <b>git checkout nombre_de_rama</b>: se usa para cambiar ramas
      </p>
    </li>

    <li>
      <p>
        <b>git checkout hash</b>: hash = código que se muestra en el registro,
        por ejemplo: ca7csa90, esto se usa para ir a una versión anterior del
        proyecto
      </p>
    </li>

    <li>
      <p>
        <b>git branch -d nombre_de_rama</b>: eliminar rama
      </p>
    </li>

    <li>
      <p>
        <b>git branch -D nombre_de_rama</b>: eliminamos una rama a la fuerza
      </p>
    </li>

    <li>
      <p>
        <b>git revert</b>: revierte el último commit y crea uno nuevo con los
        cambios revertidos, pero no los elimina.
      </p>
    </li>

    <li>
      <p>
        <b>git merge nombre_de_rama</b>: al estar en la rama principal, lo
        usamos para traer los cambios realizados en otras ramas y unirlos a la
        rama principal.
      </p>
    </li>
  </ul>
</LayoutGit>
