---
import Warning from "@/components/Warning.astro";
import LayoutHTML from "@layouts/LayoutHTML.astro";
import MyCode from "@components/MyCode.astro";
---

<LayoutHTML title="Envair Email">
  <h1>Envair Email</h1>
  <p>
    Envía un correo electrónico fácil y rápidamente con solo HTML.
  </p>
  <Warning>
    <p>esto SÓLO funciona para correos electrónicos de Gmail</p>
  </Warning>

  <MyCode code={`
<a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=myMail" target="_blank">
  Go Email 
</a>  
  `}/>
  
</LayoutHTML>