<header class="header blur">
  <nav>
    <a href="/" class="logo" title="ir a pagina principal"> Tricks Web</a>
    <div class="links-container">
      <ul class="links">
        <li>
          <!--?xml version="1.0" encoding="utf-8"?-->
          <svg
            width="54px"
            height="54px"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path>
            <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path>
            <path
              d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
              fill="white"></path>
          </svg>
          <a title="ir a la seccion de html" href="/html/">HTML</a>
        </li>
        <li>
          <!--?xml version="1.0" encoding="utf-8"?-->
          <svg
            width="54px"
            height="54px"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><title>file_type_css</title><polygon
              points="5.902 27.201 3.656 2 28.344 2 26.095 27.197 15.985 30 5.902 27.201"
              style="fill:#1572b6"></polygon><polygon
              points="16 27.858 24.17 25.593 26.092 4.061 16 4.061 16 27.858"
              style="fill:#33a9dc"></polygon><polygon
              points="16 13.191 20.09 13.191 20.372 10.026 16 10.026 16 6.935 16.011 6.935 23.75 6.935 23.676 7.764 22.917 16.282 16 16.282 16 13.191"
              style="fill:#fff"></polygon><polygon
              points="16.019 21.218 16.005 21.222 12.563 20.292 12.343 17.827 10.67 17.827 9.24 17.827 9.673 22.68 16.004 24.438 16.019 24.434 16.019 21.218"
              style="fill:#ebebeb"></polygon><polygon
              points="19.827 16.151 19.455 20.29 16.008 21.22 16.008 24.436 22.344 22.68 22.391 22.158 22.928 16.151 19.827 16.151"
              style="fill:#fff"></polygon><polygon
              points="16.011 6.935 16.011 8.855 16.011 10.018 16.011 10.026 8.555 10.026 8.555 10.026 8.545 10.026 8.483 9.331 8.342 7.764 8.268 6.935 16.011 6.935"
              style="fill:#ebebeb"></polygon><polygon
              points="16 13.191 16 15.111 16 16.274 16 16.282 12.611 16.282 12.611 16.282 12.601 16.282 12.539 15.587 12.399 14.02 12.325 13.191 16 13.191"
              style="fill:#ebebeb"></polygon></svg
          >
          <a title="ir a la seccion de css" href="/css/">CSS</a>
        </li>
        <li>
          <!--?xml version="1.0" encoding="UTF-8" standalone="no" ?-->
          <svg
            width="46px"
            height="46px"
            viewBox="0 0 256 256"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            preserveAspectRatio="xMidYMid"
          >
            <g>
              <path d="M0,0 L256,0 L256,256 L0,256 L0,0 Z" fill="#F7DF1E">
              </path>
              <path
                d="M67.311746,213.932292 L86.902654,202.076241 C90.6821079,208.777346 94.1202286,214.447137 102.367086,214.447137 C110.272203,214.447137 115.256076,211.354819 115.256076,199.326883 L115.256076,117.528787 L139.313575,117.528787 L139.313575,199.666997 C139.313575,224.58433 124.707759,235.925943 103.3984,235.925943 C84.1532952,235.925943 72.9819429,225.958603 67.3113397,213.93026"
                fill="#000000"
              >
              </path>
              <path
                d="M152.380952,211.354413 L171.969422,200.0128 C177.125994,208.433981 183.827911,214.619835 195.684368,214.619835 C205.652521,214.619835 212.009041,209.635962 212.009041,202.762159 C212.009041,194.513676 205.479416,191.592025 194.481168,186.78207 L188.468419,184.202565 C171.111213,176.81473 159.597308,167.53534 159.597308,147.944838 C159.597308,129.901308 173.344508,116.153295 194.825752,116.153295 C210.119924,116.153295 221.117765,121.48094 229.021663,135.400432 L210.29059,147.428775 C206.166146,140.040127 201.699556,137.119289 194.826159,137.119289 C187.78047,137.119289 183.312254,141.587098 183.312254,147.428775 C183.312254,154.646349 187.78047,157.568406 198.089956,162.036622 L204.103924,164.614095 C224.553448,173.378641 236.067352,182.313448 236.067352,202.418387 C236.067352,224.071924 219.055137,235.927975 196.200432,235.927975 C173.860978,235.927975 159.425829,225.274311 152.381359,211.354413"
                fill="#000000"
              >
              </path>
            </g>
          </svg>
          <a title="ir a la seccion de javascript" href="/javascript/"
            >JAVASCRIPT</a
          >
        </li>
        <li>
          <!--?xml version="1.0" encoding="utf-8"?-->
          <svg
            width="54px"
            height="54px"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.58536 17.4132C1.80488 16.6327 1.80488 15.3673 2.58536 14.5868L14.5868 2.58536C15.3673 1.80488 16.6327 1.80488 17.4132 2.58536L29.4146 14.5868C30.1951 15.3673 30.1951 16.6327 29.4146 17.4132L17.4132 29.4146C16.6327 30.1951 15.3673 30.1951 14.5868 29.4146L2.58536 17.4132Z"
              fill="#EE513B"></path>
            <path
              d="M12.1489 5.06152L10.9336 6.27686L14.0725 9.41577C13.9455 9.68819 13.8746 9.99201 13.8746 10.3124C13.8746 11.222 14.4461 11.9981 15.2496 12.3012V19.9798C14.4461 20.2829 13.8746 21.059 13.8746 21.9686C13.8746 23.1422 14.826 24.0936 15.9996 24.0936C17.1732 24.0936 18.1246 23.1422 18.1246 21.9686C18.1246 21.144 17.6549 20.429 16.9684 20.0768V12.3117L19.9689 15.3122C19.8481 15.5791 19.7809 15.8754 19.7809 16.1874C19.7809 17.361 20.7323 18.3124 21.9059 18.3124C23.0795 18.3124 24.0309 17.361 24.0309 16.1874C24.0309 15.0138 23.0795 14.0624 21.9059 14.0624C21.6778 14.0624 21.4582 14.0983 21.2522 14.1648L18.0297 10.9423C18.0914 10.7433 18.1246 10.5317 18.1246 10.3124C18.1246 9.13878 17.1732 8.18738 15.9996 8.18738C15.7803 8.18738 15.5688 8.22061 15.3697 8.2823L12.1489 5.06152Z"
              fill="white"></path>
          </svg>
          <a title="ir a la seccion de git" href="/git/">GIT</a>
        </li>
      </ul>
    </div>
    <button class="hamburger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="28"
        height="28"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </button>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    height: 10vh;
    color: rgb(var(--text-color));
  }

  nav {
    max-width: var(--container);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 15px;
  }
  .hamburger {
    display: none;
  }
  .logo {
    text-decoration: none;
    color: rgb(var(--title-color));
    font-weight: 800;
    font-size: 30px;
    transition: color 0.5s ease;
  }
  .logo:hover {
    color: rgb(var(--title-color) / 0.7);
  }

  .btn-links,
  .container-links-mobile {
    display: none;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links li {
    list-style: none;
  }

  .links li svg {
    display: none;
  }

  nav ul a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    padding: 22px 10px;
    transition: color 1s ease;
  }

  nav ul:hover > :not(:hover) {
    opacity: 0.5;
  }

  nav ul a:hover {
    color: rgb(var(--title-color));
  }

  @media (width < 771px) {
    .hamburger {
      border: none;
      background-color: transparent;
      z-index: 100;
      display: block;
      color: rgb(var(--title-color));
    }
    .links-container {
      z-index: 9;
      position: fixed;
      inset: 0 0 0 0;
      width: 100%;
      min-height: 100vh;
      backdrop-filter: blur(10px);
      background-color: transparent;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
    }
    .links-container.active {
      transform: translateX(0);
    }

    .links {
      width: clamp(220px, 50%, 300px);
      height: 100vh;
      background-color: rgb(var(--bg-color));
      margin-left: auto;
      margin-top: 0;
      padding: 60px 0 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column nowrap;
    }
    .links.active {
      transform: translateX(0);
    }
    .links li {
      display: block;
      width: 100%;
      padding: 0 10px 0;
      font-size: 20px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
    nav ul a {
      width: 100%;
    }

    nav ul a:hover {
      color: rgb(var(--letter-color));
      border-bottom: 2px solid transparent;
    }

    .links li svg {
      display: block;
    }
  }
</style>

<script>
  const btn = document.querySelector(".hamburger");
  const linksContainer = document.querySelector(".links-container");
  const links = document.querySelector(".links");

  const ChangeNavbar = () => {
    // mostrando el navabar gracias a la clase active
    linksContainer.classList.toggle("active");
    links.classList.toggle("active");

    // validamos si el navbar esta abierto para cambiar el icono y suspender el scroll
    if (linksContainer.classList.contains("active")) {
      document.body.style.overflowY = "hidden";
      btn.innerHTML = `
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#e70404" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M18 6l-12 12"></path>
        <path d="M6 6l12 12"></path>
      </svg>
      `;
    } else {
      document.body.style.overflowY = "auto";
      btn.innerHTML = `
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
      `;
    }
  };
  linksContainer.addEventListener("click", () => {
    ChangeNavbar();
  });

  btn.addEventListener("click", () => {
    ChangeNavbar();
  });
</script>
