<div class="warning">
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#ffc145" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 9v4"></path>
      <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path>
      <path d="M12 16h.01"></path>
    </svg>
    <p class="title">Advertencia</p>
  </header>
  <slot/>
</div>

<style>
  .warning{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    color: rgb(var(--title-color));    
    border-left: 6px solid #ffc145;
    background-color: #ffc14540;
    border-radius: 5px;
  }
  .warning header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .warning .title{
    color: #ffc145;
    font-weight: 600;
  }

  .hint{
    color: rgb(var(--title-color))
  }
</style>