---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import "../styles/GlobalStyle.css";
import Arrow from "@/components/Arrow.astro";

interface Props {
  title: string;
  colorLang: string;
  href: string;
}
const { title, colorLang, href } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/webp" sizes="32x32" href="/Logo.webp" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <title>{`${title} | Tricks Web`}</title>
  </head>
  <body>
    <Navbar />
    <div class="container">
      <slot name="topic-navbar" />
      <main class="content-container">
        <Arrow href={href} />
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style define:vars={{ colorLang }}>
  .container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 5px;
    display: grid;
    grid-template-columns: 250px calc(100% - 265px);
    gap: 15px;
  }

  .content-container {
    width: 100%;
    min-height: 80vh;
    padding: 30px 0 20px;
    color: rgb(var(--title-color));
    position: relative;
  }

  .content-container :global(h1) {
    font-size: var(--text-4);
    color: var(--colorLang);
    border-bottom: 2px solid var(--colorLang);
    padding: 15px 0 5px;
    margin-bottom: 30px;
  }

  .content-container :global(:is(h2, h3, h4, h5)) {
    color: inherit;
    font-weight: 600;
    font-size: var(--text-1);
  }
  .content-container :global(:is(h2, h3, h4, h5)::first-letter) {
    text-transform: uppercase;
  }

  .content-container :global(p) {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    color: inherit;
    margin-bottom: 10px;
  }
  .content-container :global(a) {
    font-size: inherit;
    color: rgb(var(--second-color));
  }
  .content-container :global(a[href^="https://"]::after)
  {
    content: url("/src/icons/external-link.svg");
    width: 14px;
    height: 21px;
  }

  .content-container :global(a):hover {
    color: rgb(var(--second-color) / 0.7);
    text-decoration: none;
  }

  .content-container :global(ul) {
    color: inherit;
    font-size: 18px;
    margin-left: 30px;
    list-style-type: square;
  }

  .content-container :global(li) {
    color: inherit;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .content-container :global(strong) {
    color: rgb(var(--second-color));
    font-weight: 600;
  }

  .content-container :global(b) {
    font-weight: 500;
  }

  .content-container :global(b.code) {
    background-color: rgb(61, 61, 61);
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    word-wrap: break-word;
  }

  @media (width < 771px) {
    .container {
      display: block;
    }
    .content-container {
      padding: 30px 10px 20px;
    }
  }

  @media (height > 870px) {
    .container {
      min-height: 80vh;
    }
  }
</style>
