---
import Hint from "@/components/Hint.astro";
import LayoutJS from "@layouts/LayoutJS.astro"
---

<LayoutJS title="Javascript">
  <h1>JavaScript</h1>
  <p>Es un lenguaje de programación que se utiliza principalmente para crear contenido interactivo en páginas web. Con JavaScript, los desarrolladores pueden crear animaciones, actualizar contenido dinámicamente y mejorar la experiencia del usuario en la página. JavaScript se ejecuta en el navegador del usuario y puede interactuar con el HTML y CSS de una página para modificar su contenido y presentación.</p>
  
  <Hint>
    <p>
      Utiliza <a href="https://codi.link/%7C%7C" target="_blank" rel="noopener noreferrer">codi.link</a> para probar todos estos componentes de forma rápida y sencilla. codi.link es un editor de código en línea fácil de usar con todos los beneficios de visual studio code.
    </p>
  </Hint>
  <p>
    Si quieres saber cuáles son las nuevas funciones, cuáles están obsoletas o aprender cosas nuevas, puedes ir a la <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank" rel="noopener noreferrer">web oficial de MDN</a>.
  </p>
</LayoutJS>